@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@300;400;900&family=Poppins:wght@100;200;300;400;500&family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap");
.App {
  text-align: center;
  padding: 30px;

  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  height: auto;
}
body {
  background: linear-gradient(to right, #da4453, #89216b);
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header {
  font-family: "DynaPuff", cursive;
  font-size: 40px;
  color: #fff;
  
}
form {
  background-color: rgba(255, 255, 255, 0.182);
  color: #fff;
  width: fit-content;
  margin-top: 30px;
  padding-right: 50px;
  position: relative;
}
input,
button {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  padding: 10px 5px;
  font-weight: bold;
  font-size: 20px;

}
button {
  color: #fff;
  background-color: #667eea;
  cursor: pointer;
  transition: all .5s ease;
  position: absolute;
  right: 0px;
  padding: 10px;
}
button:hover{
  background-color: #3b56cf;
}


.items {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px;
  flex-direction: row;
  /* gap: 60px; */
  color: #fff;
  text-align: left;
  position: relative;
  width: 300px;
  padding: 9.5px 10px;
  background-color: rgba(255, 255, 255, 0.182);
}
.col-title {
  width: 250px;
}
.col-button {
  position: absolute;
  right: 0px;
  top: 0px;
}
.bottom {
  display: flex;
  flex-direction: column-reverse;
}
#msg{
  margin: 20px;
  color: #fff;
}